body{
  background-color: rgb(252, 238, 238) !important;
  font-family: Roboto;
}


.header{
  position: fixed;
  top: 0;
  left: 155px;
  right: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  padding: 6px 45px;
  border-bottom: 1px solid rgba(114, 108, 108, 0.336);
}



.logo-name {
  font-size: 18px;
}

.inline {
  display: flex;
  flex-direction: row;
}

.registeration-form{
  display: flex;
  flex-direction: column;
  padding:30px 30px;
}

.user-registeration-title{ 
  align-self: center;
  color:rgb(3, 3, 65);
  font-size: 35px;
}

.other-registeration-options{
  align-self: center;
  color:rgb(3, 3, 65);
  margin-top: 12px;
}

.registeration-form label{
  color:rgb(3, 3, 65) !important;
  font-weight: 500;
}

.registeration-logo-div{
  background-color: rgba(7, 7, 17, 0.945);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.center-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    color: #eee;
}



.sign-in, .sign-up{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.sign-in{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
}

.center-container img{
    margin-left: 20px;
}

.pad-wall{
  margin:12px;
  transform: scale(0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit{
  background-color: rgba(7, 7, 17, 0.945);
  color:#ffffff;
  border:none;
  width: 100%;
  outline: none !important;
  padding: 5px;
  border-radius: 4px;
}


.submit:hover {
  background-color: rgba(60, 148, 19, 0.945) !important;
  border:none !important;
  transition: 0.3s;
}

.submit:active{
  background-color: rgba(45, 107, 16, 0.945) !important;
}

/*Home*/
.home{
  margin-top: 53px;
  margin-left: 160px;
}


/*UserScreen*/
.usersreen{
  position: relative;
  margin-left: 173px;
}

.userscreen-main{
  margin-top: 53px;
}

.userscreen-left-navbar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgb(3, 20, 34);
}

.wall-navbar{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #ffffff;
}

.bottom-navbar{
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  margin-top: 325px;
}

/*Navbar on wall at left*/
.profile-img-resize{
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 27px !important;
  height: 80px !important;
  width: 80px !important;  
}

.Nav-wall-Link{
  padding: 6px 20px;
  border-radius: 4px;
  margin-top: 4px;
  cursor: pointer;
  color:#ffffff;
  text-decoration: none;
}

.wall-navbar a:hover{
    background-color: rgba(255, 166, 0, 0.459);
    transition: 0.3s;
    color:#ffffff;
    text-decoration: none;
}

.wall-navbar a:active, .profile-link:active{
  background-color: rgba(209, 221, 33, 0.897);
}

.fa-tachometer{
  padding-top: 3.5px;
  padding-right: 4px;
}


/*User main*/
.userscreen-main {
  padding: 12px;
}

.profile-card{
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border:none;
  overflow: hidden;
  font-size: 14px;
  margin: 12px 25px 25px 12px;
  background-color: #e7e3e3;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border: 1px solid rgba(207, 182, 182, 0.808) !important;
}

.userscreen-worker-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px 0 !important;
  width: 220px;
}



.profile-img{
  background-image: url(https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}



.profile-link{
  background-color: rgba(7, 7, 17, 0.945) !important;
  color:#ffffff !important;
  border:none !important;
  padding: 5px 75px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin: 40px 0 12px 0;
}


.profile-link:hover{
  text-decoration: none;
  background-color: rgba(82, 116, 5, 0.945) !important;
  border:none !important;
  transition: 0.3s;
}

/* .active{
  position: absolute;
  top: 10px;
  left: 0px;
  align-self:left;
  color: #ffffff;
  padding: 3px 4px;
  font-size: 14px;
  margin: 8px 20px;
  border-radius: 4px;
  background-color: rgba(60, 148, 19, 0.945);
} */

.fa-sign-out{
  color:yellow;
}